* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box; /* Fondamentale per calcolare larghezze incluse di padding */
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.title {
  text-align: center;
  background-color: rgb(255, 222, 37);
  border-radius: 10px;
}

.section-header {
  margin: 0;
}

.app-container {
  width: 100%;
  padding: 16px; /*distanza con il bordo dello schermo*/
  display: flex;
  flex-direction: column;
  gap: 2rem; /*spazio tra i vari blocchi contenuti in <main>*/
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center; /*allineamento verticale*/
  text-align: center; /*allineamento orizzontale*/
  gap: 1rem;
}

.actions-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*per distanziare gli elementi in maniera equidistante*/
  gap: 12px;
}

.btn-style {
  padding: 0.5rem 3rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(255, 222, 37);
  transition: 0.1s ease;
}

.btn-style:active {
  background-color: rgb(185, 158, 0);
  transform: scale(0.95);
}

.data-table {
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid #dddddd;
  /*border-radius: 1rem;*/
}

th {
  background-color: rgb(255, 222, 37);
}

input {
  border-radius: 5px;
}

/*-----------------CSS di caricamento: blur schermo + cerchietto che gira------------------*/

/* Overlay di caricamento */
.overlay {
  position: fixed; /* Fisso sopra tutto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Ultimo numero: 0.5 canale ALPHA (opacità) */
  backdrop-filter: blur(5px); /* EFFETTO SFOCATURA (BLUR) */
  z-index: 9999;

  /* Per centrare lo spinner */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nasconde l'overlay cambiando le proprietà css del div in display: none, ovvero sparisce */
.hidden {
  display: none;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc; /* Cerchio grigio chiaro */
  border-top: 5px solid #007bff; /* Parte superiore blu (o il colore che vuoi) */
  border-radius: 50%; /* Lo rende rotondo */
  animation: spin 1s linear infinite; /* Lo fa girare all'infinito */
}

/* 4. Definizione dell'animazione */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingStringStyle {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  margin: 0;
}
